:root {
  /* VARIABLES */
  --red-light-theme: #C14D63;
  --red-dark-theme: #f5516f;

  --gray-dark: #222222;
  --gray-med: #353535;
  --gray-light: #d0d0d0;
  --gray-x-light: #f0f0f0;

  --text-dark: #222222;
  --text-light: #ffffff;
}

body {
  font-family: "IBM Plex Serif", serif;
  transition: all 0.2s;
  margin: 0;
}

.theme-light {
  background-color: #fff;
  color: var(--gray-dark);
}

.theme-dark {
  background-color: var(--gray-dark);
  color: #fff;
}

/* ------- TYPOGRAPHY ------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Gabarito", sans-serif;
  font-weight: 700;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 56px;
}

h2,
.h2 {
  font-size: 40px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 16px;
  text-transform: uppercase;
}

p,
.p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0 0 24px 0;
}

li {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0 0 16px 0;
}

ul {
  padding-left: 20px;
}

a {
  color: var(--red-light-theme);
}
/* Remove underlines for Heading links */
a:has(h1),
a:has(h2),
a:has(h3),
a:has(h4),
a:has(h5),
a:has(h6) {
  text-decoration: none;
}

html.theme-dark a {
  color: var(--red-dark-theme);
}

.text-large {
  font-size: 19px;
}

@media screen and (max-width: 600px) {
  h1,
  .h1 {
    font-size: 40px;
  }

  h2,
  .h2 {
    font-size: 32px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 18px;
  }

  p,
  .p {
    font-size: 16px;
  }

  li {
    font-size: 16px;
  }
}

hr {
  border-collapse: collapse;
  border: none;
  height: 1px;
  background-color: var(--gray-light);
  margin: 40px 0;
}

.btn {
  padding: 12px 20px;
  background-color: var(--red-light-theme);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
}
html.theme-dark .btn {
  background-color: var(--red-dark-theme);
}

/* ------- HEADER & PAGE CONTENT ------- */

div.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 16px;
}

div.section {
  width: 100%;
  max-width: 650px;
}

.header-section {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 24px;
  justify-content: space-between;
  margin: 0 0 40px 0;
  padding: 0;
}

.header-title-container {
  display: flex;
  flex-direction: row;
}

.header-logo img {
  max-width: 82px;
  transition: all 0.2s;
  position: relative;
  z-index: 9;
}

.header-logo-thumb img {
  height: 70px;
  transform: translateX(-60px) scale(80%);
  transition: all 0.2s;
  position: relative;
  z-index: 1;
  opacity: 0;
}

.header-title-container:hover .header-logo img {
  transform: scale(110%) rotate(-5deg);
}

.header-title-container:hover .header-logo-thumb img {
  transform: translateX(-20px) scale(100%);
  opacity: 1;
}

/* Site Logo on Mobile */
@media (max-width: 600px) {
  .header-logo img {
    max-width: 50px;
  }
  .header-logo-thumb img {
    display: none;
  }
  .header-title-container:hover .header-logo img {
    transform: none;
  }
}

.header-title {
  font-size: 48px;
  margin-bottom: 16px;
}

.header-theme-container {
  justify-self: end;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#site-nav {
  display: flex;
  justify-content: end;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
@media (max-width: 600px) {
  #site-nav {
    gap: 4px;
  }
  .header-theme-container {
    gap: 4px;
  }
}

.nav-item {
  font-family: "Gabarito", sans-serif;
  font-weight: 400;
  padding: 4px 12px;
  color: var(--gray-dark);
  border-radius: 2px;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.2s;
  font-size: 16px;
}
@media (max-width: 450px) {
  .nav-item {
    font-size: 14px;
  }
}

html.theme-dark .nav-item {
  color: #ffffff;
}

.nav-item:hover {
  background-color: var(--gray-x-light);
  cursor: pointer;
}

html.theme-dark .nav-item:hover {
  background-color: var(--gray-med);
  color: #fff;
}

.nav-item-theme-icon {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.2s;
}

.nav-item-theme-icon:hover {
  background-color: var(--gray-x-light);
  cursor: pointer;
}

html.theme-dark .nav-item-theme-icon:hover {
  background-color: var(--gray-med);
}

@media screen and (max-width: 500px) {
  .header-section {
    grid-template-columns: 1fr 6fr;
  }

  .header-title {
    font-size: 40px;
    margin-bottom: 8px;
  }
}

.anchor-link-offset {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

/* POST CONTAINER */
html.theme-dark .post-container {
  background-color: var(--gray-med);
}
.post-container {
  background-color: var(--gray-x-light);
  padding: 40px;
  border-radius: 16px;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .post-container {
    padding: 24px;
  }
}

/* ------ MUSIC ------- */
.lyrics-section {
  font-family: "Gabarito", sans-serif;
  font-weight: 700;
}
.download-audio {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: var(--red-light-theme);
  border-radius: 32px;
  align-items: center;
  justify-content: center;
}
a:has(.download-audio) {
  text-decoration: none;
}

/* Audio Player HTML */
audio::-webkit-media-controls-panel {
  background-color: var(--red-light-theme);
}

audio::-webkit-media-controls-play-button {
  background-color: #fff;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
}

audio::-webkit-media-controls-mute-button {
  background-color: #fff;
  border-radius: 64px;
}

/* 
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button */

/* ------- FOOTER ------- */
#global-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid var(--gray-light);
  padding-top: 24px;
  margin-top: 24px;
  gap: 24px;
}
.footer-social-icon {
  color: var(--gray-dark);
  font-size: 24px;
}
html.theme-dark .footer-social-icon {
  color: #fff;
}

/* ------- UTILITY ------- */
.mb-0 {
  margin-bottom: 0;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-64 {
  margin-bottom: 64px;
}

.skill-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--red-light-theme);
  border-radius: 6px;
}

.skill-icon {
  background-color: var(--red-light-theme);
  font-size: 19px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 100%;
}

.skill-text {
  font-size: 19px;
  padding: 16px;
  flex: 1;
}

.col-1 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}

html.theme-dark .skill-container {
  border: 1px solid var(--red-dark-theme);
}

html.theme-dark .skill-icon {
  background-color: var(--red-dark-theme);
}
