body {
  font-family: "IBM Plex Serif", serif;
  transition: all 0.5s;
}
.theme-light {
    background-color: #fff;
    color: #222;
}
.theme-dark {
    background-color: #222;
    color: #fff;
}

/* ------- TYPOGRAPHY ------- */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Gabarito", sans-serif;
  font-weight: 700;
  margin-top: 0;
}

h1, .h1 {
  font-size: 56px;
}

h2, .h2 {
  font-size: 40px;
}

h3, .h3 {
  font-size: 28px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 16px;
  text-transform: uppercase;
}

p, .p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0 0 24px 0;
}

li {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  margin: 0 0 16px 0;
}

ul {
  padding-left: 20px;
}

a {
  color: #c14d63;
}
body.theme-dark a {
  color: #F5516F;
}
.text-large {
  font-size: 19px;
}

@media screen and (max-width: 600px) {
  h1, .h1 {font-size:40px;}
  h2, .h2 {font-size: 32px;}
  h3, .h3 {font-size: 24px;}
  h4, .h4 {font-size: 18px;}
  p, .p {font-size: 16px;}
  li {font-size: 16px;}
}

hr {
  border-collapse: collapse;
  border: none;
  height: 1px;
  background-color: #d0d0d0;
  margin: 40px 0;
}

/* ------- HEADER & PAGE CONTENT ------- */

div.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 8px;
}

div.section {
  width: 100%;
  max-width: 850px;
}

.header-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
    margin-bottom: 56px;
    padding: 24px 0;
    border-bottom: 1px solid #d0d0d0;
}
.header-title-container {
  display: flex;
  margin-top: -24px;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
.header-logo {
  max-width: 100px;
}
.header-title {
  font-size: 48px;
  margin-bottom: 16px;
}
.header-theme-container {
  justify-self: end;
  display: flex;
  flex-direction: row;
  gap: 8px;

}
#site-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.nav-item {
  padding: 4px 12px;
  border: 1px solid #c14d63;
  border-radius: 4px;
  text-decoration: none;
  background-color: transparent;
}
body.theme-dark .nav-item {
  border-color: #F5516F;
}
.nav-item:hover {
  background-color: #c14d63;
  color: #fff;
  cursor: pointer;
}
body.theme-dark .nav-item:hover {
  background-color: #F5516F;
}
@media screen and (max-width: 500px) {
  .header-section {
    margin-bottom: 32px;
    padding-bottom: 32px;
    grid-template-columns: 1fr;
  }
  .header-logo {
    max-width: 80px;
  }
  .header-title {
    font-size: 40px;
    margin-bottom: 8px;
  }
}

.anchor-link-offset {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

/* ------- UTILITY ------- */
.mb-0 {margin-bottom: 0;}
.mb-8 {margin-bottom: 8px;}
.mb-16 {margin-bottom: 16px;}
.mb-32 {margin-bottom: 32px;}
.mb-40 {margin-bottom: 40px;}
.mb-48 {margin-bottom: 48px;}
.mb-56 {margin-bottom: 56px;}
.mb-64 {margin-bottom: 64px;}

.skill-container {
  display: flex;
  align-items: center;
  border: 1px solid #c14d63;
  border-radius: 6px;
}
.skill-icon {
  background-color: #c14d63;
  font-size: 19px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 100%;
}
.skill-text {
  font-size: 19px;
  padding: 16px;
  flex: 1;
}
.col-3 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
body.theme-dark .skill-container {
  border: 1px solid #F5516F;
}
body.theme-dark .skill-icon {
  background-color: #F5516F;
}
@media screen and (max-width: 600px) {
  .col-3 {
    grid-template-columns: 1fr;
  }
}