html {
  /* FONT SIZES */
  --font-xl: 24px;
  --font-large: 22px;
  --font-med: 18px;
  --font-regular: 14px;
  
  /* COLORS */
  --text-brown: #2D1E1B;
  --dark-brown: #4D342E;
  --med-brown: #8D6E63;
  --tan: #EFEBE9;
  --dark-green: #3B6B07;
  --green: #4F8F00;
  --light-green: #E7F9D2;
  
  /* OTHER */
  --sidebar-width: calc(100vw * 0.20);
 
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--text-brown);
}
@media screen and (max-width: 1200px) {
  html {
    --sidebar-width: calc(100vw * 0.20);
  }
}
@media screen and (max-width: 920px) {
  html {
    --sidebar-width: calc(100vw * 0.40);
  }
}
body {
  margin: 0; 
  padding: 0;
}
.sidebar {
  position: fixed; 
  height: 100vh; 
  width: var(--sidebar-width);
  box-sizing: border-box;
  background-color: var(--dark-brown);
  color: var(--tan);
  padding: 64px 24px 24px 24px; 
  margin: 0;
  z-index: 99;
  overflow-y: auto;
  overflow-x: none;
  transition: all 0.25s ease;
}
.sidebar a {
  color: var(--tan);
  text-decoration: none;
}
.sidebar a:hover {
  color: var(--green);
}
.sidebar ul {
  padding-left: 0;
}
.sidebar li {
  margin-bottom: 10px;
  line-height: 1.2;
  list-style-type: none;
}
@media screen and (max-width: 1100px) {
  .sidebar {
    padding: 64px 16px 16px 16px;
  }
}
.content-container {
  margin-left: calc(var(--sidebar-width) + 24px);
  transition: all 0.25s ease;
}
.content {
  padding: 24px 24px 24px 0;
  overflow: auto;
}
.col-2-inner {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 920px) {
  .col-2-inner {
    grid-template-columns: 1fr;
  }
}
.heading {
  margin: 0 0 0 -24px;
  padding: 16px 24px 12px 24px;
  background-color: var(--med-brown);
  color: var(--tan);
  transition: all 0.25s ease;
}
#page-title {
  position: absolute;
  font-family: "Vollkorn", serif;
  font-weight: 600;
  font-size: var(--font-xl);
  line-height: 1.3;
  top: 13px;
  left: 56px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1400px) {
  .decoration-icon {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  #page-title {
    font-size: var(--font-large);
    top: 16px;
  }
}
@media screen and (max-width: 920px) {
  #page-title {
    font-size: var(--font-regular);
    top: 16px;
  }
}
h2 {
  font-family: "Vollkorn", serif;
  font-size: var(--font-large);
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 0;
}
h3, .h3 {
  font-size: var(--font-med);
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 16px 0;
  padding: 0;
}
ul, ol {
  padding-left: 18px;
  margin: 0 0 16px 0;
  line-height: 1.4;
}
ul.list-extra-space li, ol.list-extra-space li {
  margin-bottom: 8px;
}
p {
  line-height: 1.4;
  margin: 0 0 16px 0;
}
a {
  color: var(--green);
}
hr {
  border: 0;
  height: 1px;
  background-color: var(--tan);
  margin: 24px 0;
  width: 100%;
}
code {
  background-color: #F6ECE8;
  padding: 0 4px;
  border-radius: 2px;
}
table,
tbody,
tr,
td {
    font-size: var(--font-regular);
}
.mb-0 {margin-bottom: 0;}
.mb-8 {margin-bottom: 8px;}
.mb-16 {margin-bottom: 16px;}
.mb-24 {margin-bottom: 24px;}
.mb-32 {margin-bottom: 32px;}
.mb-40 {margin-bottom: 40px;}

/* Style external links */
a[href^="http"]:not([href*="linepup.com"])::after {
    font-family: "Font Awesome 6 Free";
    font-size: 10px;
    font-weight: 900; /* solid */
    content: "\f08e"; /* external-link-alt */
    margin-left: 5px;
    color: rgba(255,255,255,0.5);
}

/* TABLE STYLES */
table, tr {
  margin: 0;
  border: none;
  border-collapse: collapse;
}
td {
  margin: 0;
  padding: 6px;
  border: 1px solid var(--med-brown);
  border-collapse: collapse;
}
.table-heading {
  background-color: var(--tan);
  font-weight: bold;
}
.table-full-width {
  width: 100%;
  overflow: auto;
}
.table-300-width {
  width: 100%;
  max-width: 300px;
  overflow: auto;
}
.table-400-width {
  width: 100%;
  max-width: 400px;
  overflow: auto;
}
.table-500-width {
  width: 100%;
  max-width: 500px;
  overflow: auto;
}
.table-600-width {
  width: 100%;
  max-width: 600px;
  overflow: auto;
}
.table-700-width {
  width: 100%;
  max-width: 700px;
  overflow: auto;
}
.table-800-width {
  width: 100%;
  max-width: 800px;
  overflow: auto;
}

/* SIDEBAR & DICE ROLLER */
#dice-container {
  width: 100%;
  padding: 0 0 8px 0;
  border-bottom: 2px solid var(--med-brown);
  margin: 0 0 24px 0;
}
#table-of-contents {
  padding: 0 0 16px 0;
  border-bottom: 2px solid var(--med-brown);
  margin: 0 0 24px 0;
}
#dice-form {
  width: 100%;
  padding: 0;
  margin: 0;
}
.form-row {
  width: 100%;
  padding: 0;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}
#number-dice, #type-die, #select-modifier, #modifier, #button, #result-container {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 8px;
  border: none;
  border-radius: 3px;
}
#number-dice, #type-die, #select-modifier, #modifier {
  background-color: var(--tan);
}
#button {
  background-color: var(--green);
  color: var(--light-green);
  font-weight: bold;
  cursor: pointer;
}
#button:hover {
  background-color: var(--dark-green);
}
#result-container {
  text-align: center;
  background-color: var(--text-brown);
}
@media screen and (max-width: 920px) {
  .form-row {
    grid-template-columns: 1fr;
    gap: 8px;
    margin-bottom: 8px;
  }
  #number-dice, #type-die, #select-modifier, #modifier, #button, #result-container {
    margin: 0;
  }
}

/* ToC GENERATORS, REFERENCES */
#toc-generators, #toc-references {
  padding: 0 0 16px 0;
  border-bottom: 2px solid var(--med-brown);
  margin: 0 0 24px 0;
}
/* SIDEBAR TOGGLE */
#sidebar-toggle {
  position: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tan);
  font-size: 32px;
  width: 48px;
  height: 48px;
  background-color: var(--green);
  opacity: 60%;
  z-index: 999;
  top: 0px;
  left: 0px;
  transition: all 0.25s ease;
  cursor: pointer;
  border-radius: 0 0 3px 0;
}
#sidebar-toggle:hover {
  opacity: 100%;
}
#hamburger-icon {
  margin-top: -6px;
}
.sidebar-closed {
  transform: translateX( calc( var(--sidebar-width) * -1) );
}
.sidebar-closed #sidebar-toggle {
  margin-right: -500px;
}
.content-container-full-width {
  margin-left: 24px;
}
