html {
  background-color: transparent;
}

img.gif {
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
  animation-name: gif-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.label {
  font-family: sans-serif;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-size: 13px;
  border-radius: 3px;
  position: absolute;
  animation-name: label-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes gif-animation {
  0% {
    transform: translate(0) scalex(-1);
  }

  49% {
    transform: translate(800px) scalex(-1);
  }

  50% {
    transform: translate(800px) scalex(1);
  }

  99% {
    transform: translate(0) scalex(1);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes label-animation {
  0% {
    transform: translate(0);
  }

  49% {
    transform: translate(800px);
  }

  50% {
    transform: translate(800px);
  }

  99% {
    transform: translate(0);
  }

  100% {
    transform: translate(0);
  }
}


/* --------------------------- */

.characters-container {}

.character {
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
}

.character-image-container {
  animation-name: gif-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-duration: 60s;
}

.character-image-element {
  height: 100px;
}

.character-name {
  font-family: sans-serif;
  color: #505050;
  text-shadow:
    -1px -1px 0 rgba(255,255,255,0.75),
    1px -1px 0 rgba(255,255,255,0.75),
    -1px 1px 0 rgba(255,255,255,0.75),
    1px 1px 0 rgba(255,255,255,0.75);
  font-size: 13px;
  border-radius: 3px;
  position: absolute;

  animation-name: label-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-duration: 60s;
}

.character-name-1 {
  font-family: sans-serif;
  color: #000;
  font-weight: normal;
  text-shadow:
    -1px -1px 0 rgba(255,255,255,0.75),
    1px -1px 0 rgba(255,255,255,0.75),
    -1px 1px 0 rgba(255,255,255,0.75),
    1px 1px 0 rgba(255,255,255,0.75);
  font-size: 13px;
  border-radius: 3px;
  position: absolute;

  animation-name: label-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-duration: 60s;
}

.character-name-5 {
  font-family: sans-serif;
  color: #000;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 rgba(255,255,255,0.75),
    1px -1px 0 rgba(255,255,255,0.75),
    -1px 1px 0 rgba(255,255,255,0.75),
    1px 1px 0 rgba(255,255,255,0.75);
  font-size: 13px;
  border-radius: 3px;
  position: absolute;

  animation-name: label-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-duration: 60s;
}

.character-name-10 {
  font-family: sans-serif;
  color: #000;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 rgba(58,231,231,0.75),
    1px -1px 0 rgba(58,231,231,0.75),
    -1px 1px 0 rgba(58,231,231,0.75),
    1px 1px 0 rgba(58,231,231,0.75);
  font-size: 14px;
  border-radius: 3px;
  position: absolute;

  animation-name: label-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-duration: 60s;
}

.character-name-15 {
  font-family: sans-serif;
  color: #000;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 rgba(234,242,16,0.75),
  1px -1px 0 rgba(234,242,16,0.75),
  -1px 1px 0 rgba(234,242,16,0.75),
  1px 1px 0 rgba(234,242,16,0.75);
font-size: 14px;
  border-radius: 3px;
  position: absolute;

  animation-name: label-animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-duration: 60s;
}


.animation-speed-1 {
  animation-duration: 60s;
}
.animation-speed-2 {
  animation-duration: 57s;
}
.animation-speed-3 {
  animation-duration: 54s;
}
.animation-speed-4 {
  animation-duration: 51s;
}
.animation-speed-5 {
  animation-duration: 48s;
}
.animation-speed-6 {
  animation-duration: 45s;
}
.animation-speed-7 {
  animation-duration: 42s;
}
.animation-speed-8 {
  animation-duration: 39s;
}
.animation-speed-9 {
  animation-duration: 36s;
}
.animation-speed-10 {
  animation-duration: 33s;
}
.animation-speed-11 {
  animation-duration: 30s;
}
.animation-speed-12 {
  animation-duration: 27s;
}
.animation-speed-13 {
  animation-duration: 24s;
}
.animation-speed-14 {
  animation-duration: 21s;
}
.animation-speed-15 {
  animation-duration: 18s;
}
.animation-speed-16 {
  animation-duration: 15s;
}
.animation-speed-17 {
  animation-duration: 12s;
}
.animation-speed-18 {
  animation-duration: 9s;
}
.animation-speed-19 {
  animation-duration: 6s;
}
.animation-speed-20 {
  animation-duration: 3s;
}